*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
 
    margin: 0;
}

header{
    background-color: #0076cc;
    color: white;
    padding: 3em  0 0;
    position: relative;
    width: 100%;
    text-align: center;
}
header h2{
    font-size: 2.1rem;
    margin: 0.1em 0;
}
header h6{
    font-size: 1.1rem;
}
header img{
    width: 100px;
    border-radius: 50%;
    border: 2px solid white;
}
header div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 0.9em 0;
    border-top: 1px solid rgba(255,255,255,0.15);;
}
header div :nth-child(2){
    border-left: 1px solid rgba(255,255,255,0.15);
    border-right: 1px solid rgba(255,255,255,0.15);
    padding: 1em;
}
header div a {
    text-decoration: none;
    color: white;
}

.about--us{
    margin-bottom: 2em;
    text-align: center;
    padding: 1em ;
    line-height: 1.5;
}
.phone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.single--contact{
    width: 100%;
    border-top: 1px solid #dee2e6;
    text-align: left;
    display: flex;
    gap: 2em;
    padding: 2em ;
  
}
.single--contact a{
    text-decoration: none;
    color: black;
}
.title{
    color:  #b3b4bb;;
}
.social--media{
    display: flex;
    align-items: left;
    flex-direction: column;
    padding-left: 5em;
}
.social--media img{
    width: 80px;
    margin-top: -1.5em;
}
button {
    background: #0076cc repeat scroll 0% 0% !important;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    width: 135px;
    white-space: normal;
    border-radius: 50px;
    padding: 10px;
    float: right;
    z-index: 998;
    overflow: hidden;
    position: fixed;
    bottom: 12px;
    right: 25px;
    animation: color-me-in 4.5s ease-out infinite;
    box-shadow: 0px 10px 14.1px 0.9px rgba(0,0,0,0.24), 0px 4px 19.6px 0.4px rgba(0,0,0,0.16);
}

@keyframes color-me-in {
    0% {
        background: #17a2b8;
    }
    100% {
        background: #0076cc;
    }
}
@media (max-width: 414px) {
    p{
        font-size: 0.9rem;
    }
    h2{
        font-size: 0.9rem;
        padding-bottom: 0.3em;
        line-height: 1.2;
    }
    h6{
        margin-bottom: -1.em;
    }
}